/* Estilo para a caixa de ícone personalizada */
.feature-icon-small {
    width: fit-content; /* Largura se ajustará ao conteúdo */
    border: none; /* Remove a borda */
    padding: 6px; /* Adiciona espaço interno para a borda */
}

.img-sites {
    max-width: 100%; /* A imagem nunca será maior do que a largura do seu contêiner */
    height: auto;   /* A altura será ajustada proporcionalmente */
    border: 0;
  }
  

#features-section{
    background-color: #f6f6f6;
}

#contact-section{
    background-color: #f6f6f6;
}

*{
    margin: 0;
    padding: 0;
}
